/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(reset.css);
@import url(fonts.scss);

:root {
    --dblue: #284F8F;
    --lblue: #1676da;
    --red: #B22B27;
    --border: rgb(148, 148, 148);
    --lightestblue: #e6f8fe;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #1A1F2C;
    height: 100%;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-padding: 175px 0 0;
    -webkit-font-smoothing: antialiased;
}

div {
    display: block;
    box-sizing: border-box;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


input {
    writing-mode: horizontal-tb;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}

textarea {
    resize: none;
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
}

textarea:focus {
    outline: none;
}

::placeholder {
    font-weight: lighter;
    color: #aaa;
}