/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(reset.css);
@import url("https://use.typekit.net/eeo0enz.css");
@import url(modal.scss);
@import url(nav.css);
@import url(searchmod.css);

.greetings-message {
    font-size: 42px;
    line-height: 50px;
    font-weight: 100;
    padding: 150px 0px 50px;
    text-align: center;
}

html, body {
    font-family: source-sans-pro, regular;
    font-weight: 100;
    font-size: 1em;
    color: #1A1F2C;
    height: 100%;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 175px 0 0;
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; */
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}

.user-nav {
    height: 50px;
    line-height: 50px;
    background: #032765;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo-img {
    width: 140px;
    height: 40px;
    padding-left: 40px;
    padding-top: 5px;
}

div.header > ul {
    font-size: 14px;
    padding-right: 10px;
    display: flex;
}

li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.user-nav-account-links:link, .user-nav-account-links:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.user-nav-account-links:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.fa-solid fa-magnifying-glass {
    min-width: 20px;
    min-height: 20px;
}
.home-page {
    background: url(https://streetsmart-safeassets.s3.amazonaws.com/images/monopolybanner.png) 
    center bottom / 3360px no-repeat rgb(220, 246, 255);
    background-size: contain;
    height: 100vh;
}