.footer {
    background-color: #272D39;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.footer-image {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.footer-disclaimer {
    margin: 0 auto
}

.footer-icon-links {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    gap: 2rem;
    /* margin: 3rem 0; */
}

.footer-icon-links>li {
    padding: 2rem;
}

.icon-link-fa {
    color: white;
}