.listings {
    overflow: auto;
    min-height: calc(100vh - 90px);
    margin-bottom: 5rem;
}


.searchCardList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;

}

.gmaps-container {
    position: relative;
    width: 40vw;
    height: 70vh;
}

.gmaps {
    position: fixed;
    width: 40vw;
    height: 70vh;
    overflow: hidden;
}


.searchCardList-item {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    width: 300px;
    height: 425px;
}

.contentDiv {
    align-items: center;
    -webkit-animation: fadeIn .75s, slideIn 1s;
    animation: fadeIn .75s, slideIn 1s;
    background-color: whitesmoke;
    border-radius: 15px;
    color: var(--lblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    width: 50%;
    position: absolute;
    bottom: 5%;
    z-index: 998;
    cursor: pointer;
}

.contentDiv.false {
    display: none;
}

div.listing-item-thumbnail>img {

    width: 100%;
    height: 25vh;
}

.listing-item-bottom {
    padding: 5px 5px;
    display: flex;
    height: auto;
}

.listing-item-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.listing-item-top-info {
    width: 75%;
}

.listing-brief-info {
    color: #62646A;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    white-space: nowrap;

}

.listing-link:link {
    text-decoration: none;
}

.listing-link:visited {
    text-decoration: none;
}

.listing-link:hover {
    text-decoration: none;
}

.listing-link:active {
    text-decoration: none;
}

.li-address {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 5px 5px;
    color: #1876DB;
}

.li-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 5px;
    color: #1A1F2C;
}

.li-lowerblock {
    display: flex;
    flex-direction: column;
    /* margin-top: 5%; */
    margin-bottom: 1rem;
    vertical-align: bottom;

}

.li-lowerblock-info {
    display: flex;
    justify-content: center;
}

ul.li-lowerblock-info>li {
    color: #62646A;
    font-size: 11px;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.first-child-li {
    border-right: 1px solid #E6E6E6;
    padding-right: 10px;
}

.li-lowerblock>p {
    text-align: center;
    margin: 0;
    line-height: 16px;
    font-size: 12px;
    color: #62646A;
    margin: 0;
}

.resultbox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 125px 0;
}

.heartsave-btn {
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--red);
    z-index: 100;
}

.heart-container {

    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
    top: 2rem;
    left: 2rem;

}

.carditeminlist {
    display: flex;
    flex-direction: column;
    height: 100%
}