.breadcrumb-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: rgb(84, 84, 84);
}

.listing-show-container {
    width: 75%;
    margin: 90px auto;
}

.listing-show-container-top {
    display: flex;
}

.image-container {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.image-container>img {
    width: auto;
    height: 45vh;
}


.lister-descript-container {
    width: 50%;
}

.save-button,
.share-button,
.tour-button,
.schedule-button {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    text-transform: none;
    cursor: pointer;
    transition: 0.3s;
    color: #2074dc;
}


.save-button,
.share-button {
    height: 2.5rem;
    width: 35%;
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
}

.save-button:hover,
.share-button:hover,
.tour-button:hover,
.schedule-button:hover {
    background-color: #2074dc;
    color: white;
    border-color: 1px lightgray;
    transition: 0.3s;
}

.save-text-descript {
    text-align: center;
}

.notes-container {
    background-color: rgb(245, 245, 245);
    line-height: 15px;
    padding: 16px;
    box-sizing: border-box;
}

.notes-button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: not-allowed;
    color: rgb(22, 77, 180);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.lister-info {
    margin: 1rem 0;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

}


.contact-lister {
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #2074dc;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 40px;
    width: 20vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact-lister:hover {
    background-color: #066dff;
}

.lister-info-bot {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.listing-descript-name {
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    line-height: 40px;
}

.listing-descript-price {
    font-size: 27px;
    font-weight: bold;
    white-space: nowrap;
}

.details-info {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
}

.details-info-breakdown {
    display: flex;
}

.details-info-breakdown>li {
    padding: 0 10px;
}

.det-cell-1-child,
.det-cell-2-child {
    border-right: 1px solid #E6E6E6;
}


.description-container {
    display: inline-block;
}

.details-buttons {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
}

.maps-container {
    display: inline-block;

}

.details-buttons>link>button {
    background: green;
}

.description-container {
    width: 45%;
}

div.description-container>h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
}

div.description-container>p {
    font-size: 14px;
    line-height: 22px;
    color: rgb(26, 31, 44);
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}

.maps-container.listing {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.listing-show-container-bot {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
}

.edit-listing-button {
    background-color: white;
    border: 1px solid rgb(148, 148, 148);
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #2074dc;
    transition: 0.3s ease-in-out;
    padding: 0.4rem 1.5rem;
    margin: 0.5rem 0 1rem;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 40px;
    width: 20vw;
    cursor: pointer;

}

.edit-listing-button:hover {
    border: 1px solid #e6e6e6;
    transition: 0.3s ease-in-out;

}

.amenity-item {
    display: flex;
    justify-content: space-evenly;
}

.amenity-img {
    width: 50px;
    height: 50px;
}

.amenity-title {
    width: 9rem;
}

.amenities-list {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lister-info-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}