.listing-form-container {
    min-height: calc(100vh - 90px);
    margin-top: 1rem
}

.listing-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35rem;
}

.listingFormInput {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(148, 148, 148);
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 15px;
    text-transform: none;
    width: 35rem;
}

.listing-form-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: rgb(98, 100, 106);
    ;
}

.listingFormTitle {
    font-weight: 300;
    text-align: center;
    font-size: 45px;
    margin: 1rem 0;
}

.listingFormButton {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    text-transform: none;
    height: 45px;
    line-height: 43px;
    width: 20rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px auto;
    font-weight: lighter;
}

.listingFormButton:hover {
    background-color: #2074dc;
    color: white;
    transition: 0.3s;
}

.rb-toggle {
    color: rgb(98, 100, 106);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.lat-lng,
.beds-baths {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.listing-form-lat,
.listing-form-lng,
.listing-form-beds,
.listing-form-baths {
    display: flex;
    flex-direction: column;
}

.lat-lng-input,
.beds-bath-input {
    width: 15rem;
    height: 0.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 9px;
}

.listing-errors-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--red);
    justify-content: center;
}

.fileupload-input {
    width: 200px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

input::file-selector-button {
    visibility: none;
    font-weight: bold;
    color: var(--lblue);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 10px;
}

input::file-selector-button:hover {
    border: 1px solid #e6e6e6;
    transition: 0.3s ease-in-out;
}



select {
    padding: 7px 1px 7px 1px;
}

select:focus {
    outline: none;
}

.amenities-opt {
    width: 100%;
}

.amenities-opt>span {
    margin-left: 20px;
}

.listing-delete-btn {
    position: fixed;
    top: 8rem;
    right: 15rem;
    /* padding: 20px; */
    width: 120px;
    height: 45px;
    background: none;
    outline: none;
    border: none;
    background-color: var(--red);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.listing-delete-btn:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
}