.listings-filter-container {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    height: 95px;
    position: fixed;
    left: 0;
    top: 90px;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
}

.listingsfilters {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    border-right: 5px solid #E6E6E6;
    border-left: 5px solid #E6E6E6;
}

.listings-filter-form {
    display: flex;
    width: 100%;
}

.listingsfilter-location {
    max-width: 300px;
    width: 100%;
    display: block;
}

#nomrg-label {
    margin: 0;
}

.listingsfilter-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 40px;
}

.listingsfilterbtn {
    text-transform: uppercase;
    border: 1px solid rgb(148, 148, 148);
    background: none;
    outline: none;
    color: var(--lblue);
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.listingsfilterbtn:hover {
    border: 1px solid #e6e6e6;
    transition: 0.3s ease-in-out;
}

.listingsfilter-submit-btn {
    height: 40px;
    width: 100px;
    background-color: var(--lblue);
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 11px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: bold;
}

.listings-filter-location {
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 30px;
    text-align: left;
    transition-duration: 0.3s;
    transition-property: background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    background: url("https://cdn-assets-s3.streeteasy.com/assets/build/media/src/features/home-page-location-filter-widget/assets/mapPin-740f0525ac74bfa253909ae9d91ffb13.svg") no-repeat;
    /* background-size: 10px; */
    background-position: 10px;
    /* display: inline-block; */
}

#search-icon-submit-filter {
    font-size: 14px;
}

.listingsfilterdiv {
    display: none;
}

.listingsfilterdiv.clicked {
    display: block;
    position: absolute;
    top: 80%;
    background-color: white;
    height: fit-content;
    padding: 25px;
    border: 4px lightgray;
}

.listfilter-priceinputs {
    display: flex;
    gap: 1rem;
}

.listfilter-priceinputs>div>input {
    width: 100px;
    padding: 5px;
    border: 1px solid var(--border);
    outline: none;
}

.listingsfilter-closedivbtn {
    display: block;
    margin: 10px auto 0;
    border: none;
    outline: none;
    background: none;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--lblue);
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}


.bedbox,
.bathbox {
    background-color: white;
    padding: 5px;
    outline: 1px solid var(--border);
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bedbox.active,
.bathbox.active {
    background-color: var(--lightestblue);
}

.bedsdiv-parent-box,
.bathsdiv-parent-box {
    display: flex;
    gap: 0;
    justify-content: center;
    margin-top: 5px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--lblue);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.amenitieslist {
    display: flex;
    flex-direction: row;
}

.amenity-opt>span {
    width: 100px;
    margin-left: 25px;
}

.amenity-opt {
    display: inline-block;
    width: 200px;
}