.searchMod {
    box-sizing: inherit;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, .16) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    margin: 6px auto;
    width: 50vw;
    min-width: 750px;
    padding: 16px;
}

.searchMod-toggle {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    max-width: 100px;
    position: relative;
    width: 100%;
    max-height: 90px;
    overflow: hidden;
}

.sm-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    height: 40px;
    line-height: 34px;
    position: relative;
    text-align: center;
    z-index: 20;
    color: black;
}

.sm-toggle-btn.buy {
    background: linear-gradient(to bottom, var(--lblue) 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .4s ease-out;
}

.sm-toggle-btn.buy.clicked {
    color: white;
    background-position: top left;
}

.sm-toggle-btn:focus {
    outline: 0;
}

.sm-toggle-btn.rent {
    background: linear-gradient(to top, var(--lblue) 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: top left;
    transition: all .4s ease-out;
}

.sm-toggle-btn.rent.clicked {
    background-position: bottom left;
    color: white;
}


.searchMod-location {
    border-right: 1px solid rgb(230, 230, 230);
    max-width: 335px;
    padding: 0px 16px;
    width: 100%;
    display: block;
}

.searchMod-location-label {
    display: block;
    margin: 0px 0px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: rgb(98, 100, 106);
}

.searchMod-location-input {
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 30px;
    text-align: left;
    transition-duration: 0.3s;
    transition-property: background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    width: 75%;
}

.searchMod-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchMod-maxPrice {
    margin: 0px 16px;
    padding-right: 10px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-right: 1px solid rgb(230, 230, 230);
}

.searchMod-maxprice-label {
    display: block;
    margin: 0px 0px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: rgb(98, 100, 106);
}

.searchMod-maxprice-input {
    line-height: 24px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
    color: rgb(26, 31, 44);
    font-size: 14px;
    padding: 8px 15px;
    text-transform: none;
    width: 100%;
    height: 40px;
}

.searchMod-submit-btn {
    height: 65px;
    width: 65px;
    margin-top: 5px;
    background-color: var(--lblue);
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.greeting-submessage {
    padding: 10px;
    text-align: center;
    margin: 0px;
    text-transform: none;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    display: block;

}

.greetings-submessage-links {
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    color: rgb(22, 77, 180);
    font-size: 16px;
    font-weight: 600;
}

.greetings-submessage-links:hover {
    background-color: #f1c4ac;
}

.greetings-submessage-links-logged {
    padding: 10px;
    margin: 0px;
    text-transform: none;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
    text-align: center;
    display: block;
    color: rgb(26, 31, 44);
    left: 50%;
    color: rgb(22, 77, 180);
    ;
}

.greetings-submessage-links-logged:hover {
    text-decoration: underline;
}

.fa-location {
    background: url("https://cdn-assets-s3.streeteasy.com/assets/build/media/src/features/home-page-location-filter-widget/assets/mapPin-740f0525ac74bfa253909ae9d91ffb13.svg") no-repeat;
    /* background-size: 10px; */
    background-position: 10px;
    display: inline-block;
}