.greetings-message {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    padding: 8rem 0 4rem;
    text-align: center;
}

.home-page {
    background: url(https://streetsmart-safeassets.s3.amazonaws.com/images/monopolybanner.png) center bottom / 100vh no-repeat rgb(220, 246, 255);
    background-size: contain;
    height: calc(100vh - 100px);
    margin-top: 90px;
}

.fairhousing-disclaimer {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    background: #135EAF;
    padding: 12px 24px;
    text-align: center;
    margin: 0;
}

.fairhousing-disclaimer-link {
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    background: 0px center;
    border: 0px;
    box-sizing: border-box;
    display: inline;
    line-height: unset;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

.fairhousing-disclaimer-link:hover {
    background-color: #f1c4ac;
    color: black;
}

.fairhousing-disclaimer-link:visited {
    color: white;
}