.usershow-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px);
    margin-top: 90px;
}

.usershow-info-container {
    align-self: center;
}

.usershow-label {
    margin-left: 2rem;
}

.usershow-container>label {
    margin-left: 20px;
}

.usershow-descript {
    font-size: 12px;
    text-align: center;
}

.usershow-container>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usershow-input {
    display: block;
    width: 20rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 15px;
    text-transform: none;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.usershow-input.email {
    cursor: not-allowed;
}

.usershow-btn {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    text-transform: none;
    height: 45px;
    line-height: 43px;
    width: 20rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px auto;
    font-weight: lighter;
}

.usershow-btn:hover {
    background-color: #2074dc;
    color: white;
    transition: 0.3s;
}

.usershow-title {
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin-top: 20px 0 20px;
    text-transform: none;
    font-size: 45px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}

.profile-links {
    display: flex;
    margin-top: 5rem;
    /* margin: 0; */

}

.profile-links>button {
    margin: 8px;
    background-color: rgb(211, 244, 255);
    border: 1px solid rgb(205, 205, 205);
    box-sizing: border-box;
    color: rgb(26, 31, 44);
    display: inline-block;
    font: 14px / 38px "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    height: 40px;
    text-align: center;
    flex: 1 1 100%;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    cursor: pointer;
}