.usershow-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.usershow-info-container {
    align-self: center;
}


.usershow-label {
    margin-left: 2rem;
}

.usershow-container>label {
    margin-left: 20px;
}

.usershow-descript {
    font-size: 12px;
    text-align: center;
}

.usershow-container>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usershow-input {
    display: block;
    width: 20rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 15px;
    text-transform: none;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.usershow-btn {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    text-transform: none;
    height: 45px;
    line-height: 43px;
    width: 20rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px auto;
    font-weight: lighter;
}

.usershow-btn:hover {
    background-color: #2074dc;
    color: white;
    transition: 0.3s;
}

.usershow-title {
    -webkit-font-smoothing: antialiased;
    color: rgb(26, 31, 44);
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    margin-top: 20px 0 20px;
    text-transform: none;
    font-size: 45px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}