.usersave-container {
    min-height: calc(100vh - 100px);
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}



.savedlistings {
    padding: 20px 0 30px;
}

.usersave-listings-container {
    display: flex;
    justify-content: center;
}