.usersave-container {
    height: calc(100vh - 100px);
    margin-bottom: 4rem;
}



.savedlistings {
    padding: 20px 0 30px;
}

.usersave-listings-container {
    display: flex;
    justify-content: center;
}