.usercreated-container {
    min-height: calc(100vh - 100px);
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.usercreated-title {
    padding: 2rem 0 3rem;
}

.saved-listings-container {
    display: flex;
    justify-content: center;
}